html, body {
    margin: 0;
    text-align: center;
}

input, html, body {
    display: inline-block;
    font-size: 1.2em;
}

button {
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
}

input:focus {
    background-color: yellow;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red
}







